.popUpBox{width:490px;height:620px;margin:0 auto;border:1px solid #1b7a6d;}
.popUpBox h1{text-align:center;}
.popUpBox .form{height:170px;padding:50px;background:#f6f6f6;}
.popUpBox .frm{overflow:hidden;zoom:1;margin-bottom:25px;}
.popUpBox .frm span{float:left;width:80px;margin-right:15px;color:#838080;text-align:right;font-size:16px;}
.popUpBox .form .txt{float:left;width:265px;height:40px;border:1px solid #d2d2d2;}
.popUpBox .form .txtar{float:left;width:265px;height:115px;border:1px solid #d2d2d2;}
.popUpBox .help{height:203px;padding:10px;background:#e7eeed;color:#5c5b5b;line-height:1.8;}
.popUpBox .help a{color:#00b9a0;}
.popUpBox .popupBtn{height:75px;line-height:75px;text-align:center;}
.popUpBox .btn{width:135px;height:30px;line-height:30px;}