.main .form .frm{overflow:hidden;zoom:1;margin-bottom:15px;}
.main .form .frm span{float:left;width:110px;padding-top:5px;margin-right:20px;color:#3b3939;font-size:14px;text-align:right;}
.main .form .frm input{float:left;width:330px;height:30px;padding:3px;margin-right:40px;border:1px solid #dcdcdc;color:#717171;}
.main .form .frm .error{float:left;width:160px;color:#f41818;font-size:12px;text-align:left;}
.main .form .frm .small{width:90px;margin-right:10px;}
.main .form .frm .smallR{width:30px;text-align:left;}
.main .form .frm textarea{float:left;width:330px;height:180px;padding:3px;margin-right:40px;resize:none;border:1px solid #dcdcdc;vertical-align:top;}
.main .form .frm .posts {
/*overflow: hidden;
zoom: 1;*/
width: 336px;
float:left;
}
.main .form .frm .posts a{
display: inline-block;
padding: 5px;
/*margin-left: 10px;*/
margin-bottom: 20px;
background: #1abc9c;
color: #fff;
font-size: 14px;
text-align: center;
border-radius: 5px;
}
.main .form .frm .postInput {
margin-left: 130px;
float:left;
margin-right:30px;
}
.main .form .frm .postInput input {
width: 300px;
height: 30px;
margin-right:0px;
margin-bottom: 30px;
border: 1px solid #64ad9b;
border-radius: 5px;
}
.main .form .frm .addPost {
margin-left: 10px;
vertical-align: 6px;
}