<%content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/newtips.css" />
<%end%>

<div class="mainContainer">
	<div class="main">
		<!-- <div class="mm"> -->
			<h2 class="h2Title">关于鸟窝</h2>
			<ul class="newTips aboutNw">
				<li>
					<h3>简介</h3>
					<p>鸟窝，让高度匹配的靠谱求职者与靠谱招聘方自动找到对方</p>
				</li>
				<li>
					<h3>愿景</h3>
					<p>让HR不招人才，求职者不找工作</p>
				</li>
				<li>
					<h3>幸运的事</h3>
					<p>志同道合的朋友支持</p>
				</li>
				<li>
					<h3>请大家多吐槽</h3>
					<p>鸟窝是个小团队在做的产品，如果你发现问题</p>
					<p>请联系 QQ：939898101 或 邮件：939898101@qq.com</p>
					<p>我们会尽力一一回复。如果反馈的问题没有及时改进，那么我们肯定是在处理过程中。非常欢迎大家给我们吐槽各种问题。</p>
				</li>
			</ul>
	</div>
	<!-- </div> -->
  <%= render partial: "/layouts/right"%>
</div>