<p>尊敬的 <%= @resource.email %>您好!</p>

<p>您可以点击下面的链接，来重新设置密码</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token, email: @resource.email), edit_password_url(@resource, reset_password_token: @token, email: @resource.email) %></p>

<p>找回密码邮件过期会失效，如果操作失败请重新发送找回密码邮件。</p>
