<%case params[:status]%>
<%when nil%>
<%when "status_apply_normal"%>
  <a href="#" class="btnR">取消申请</a>
<%when "status_apply_hr_reject"%>
  <a href="#" class="btnR">再次申请</a>
<%when "status_wait_audition"%>
  <a href="#" class="btnR">取消申请</a>
  <a href="#" class="btnR">接受面试</a>
<%when "status_audition_passed"%>
  <a href="#" class="btnR">申请试用</a>
<%when "status_audition_failed"%>
<%end%>