<%= content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/newtips.css" />
<%end%>
<div class="mainContainer">
	<div class="main">
		<!-- <div class="mm"> -->
			<h2 class="h2Title">鸟窝新手教程</h2>
			<ul class="newTips">
				<li>
          <a id="1" />
					<h3>什么是鸟窝币？</h3>
					<p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p>
					<p>主要来源：每次入职成功的含金量会按一定的比例兑换成鸟窝币。</p>
				</li>
				<li>
          <a id="2" />
					<h3>什么是邀约金？</h3>
					<p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p>
					<p>主要来源：每次入职成功的含金量会按一定的比例兑换成鸟窝币。</p>
				</li>
				<li>
          <a id="3" />
					<h3>邀约如何玩？</h3>
					<p>鸟窝币：作为“鸟窝”平台的虚拟货币，1元=1个鸟窝币，可以提现为普通现金。</p>
					<p>主要来源：每次入职成功的含金量会按一定的比例兑换成鸟窝币。</p>
				</li>
			</ul>
	</div>
	<%= render partial: "/layouts/right"%>
</div>
