<%= content_for :head_include do%>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/ui_common.css" />
	<link rel="stylesheet" href="/鸟窝html/stylesheets/release_job.css" />
<%end%>
<!-- <div class="ml">
	</div> -->
	<!-- <div class="mm"> -->
		<h2 class="h2Title">发布职位 | <a href="#">今天发布了2个职位</a></h2>
		<div class="form">
			<div class="frm">
				<span class="">职位名称</span>
				<input type="text" />
				<span class="error">*请填写职位名称</span>
			</div>
			<div class="frm">
				<span class="">工作城市</span>
				<input type="text" />
				<span class="error">*请填写城市名称</span>
			</div>
			<div class="frm">
				<span class="">薪资范围</span>
				<input type="text" class="small"/><span class="smallR">k ~</span><input type="text" class="small"/><span class="smallR" style="margin-right:80px;">k</span>
				<span class="error">*请填写薪资范围</span>
			</div>
			<div class="frm">
				<span class="">详细工作地点</span>
				<input type="text" />
				<span class="error">*请填写详细工作地点</span>
			</div>
			<div class="frm">
				<span class="">接收简历邮箱</span>
				<input type="text" />
				<span class="error">*请填写接收简历的邮箱</span>
			</div>
			<div class="frm">
				<span class="">所在部门</span>
				<input type="text" />
				<span class="error">*请填写职位所在部门</span>
			</div>
			<div class="frm">
				<span class="">职位详情</span>
				<textarea name="" id=""></textarea>
				<span class="error">*请填写职位详情</span>
			</div>
			<div class="frm">
				<span class="">职位关键词</span>
				<div class="posts">
					<a href="#">JavaScript<i>×</i></a>
					<a href="#">前端css<i>×</i></a>
					<a href="#">nodeJS<i>×</i></a>
					<a href="#">Designer<i>×</i></a>
					<a href="#">前端css<i>×</i></a>
					<a href="#">nodeJS<i>×</i></a>
					<a href="#">Designer<i>×</i></a>
				</div>
				<div class="postInput">
					<input type="text" /><a href="#" class="addPost"><em>&nbsp;</em></a>
				</div>
				<span class="error">*请填写职位关键词，方便应聘方更方便的搜索您的职位</span>
			</div>
		</div>
		<div class="jobBtns">
			<!-- <a href="#" class="btnR">发起面试</a><a href="#" class="btnR">收    藏</a> -->
			<a href="#" class="btn">发布职位</a>
		</div>
	</div>
<!-- </div> -->