<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>密码找回-鸟窝-让高度匹配的靠谱求职者与靠谱招聘方自动找到对方</title>
	<link rel="stylesheet" href="/鸟窝html/stylesheets/ui_base.css" />
	<link rel="stylesheet" href="/鸟窝html/stylesheets/ui_common.css" />
	<link rel="stylesheet" href="/鸟窝html/stylesheets/login.css" />
    <link rel="stylesheet" href="/鸟窝html/javascripts/css/ui-lightness/jquery-ui-1.10.4.min.css" />
    <script type="text/javascript" src="/鸟窝html/javascripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/鸟窝html/javascripts/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="/鸟窝html/javascripts/index.js"></script>
</head>
<body>
	<div class="contentWrap" >
		<div class="bg"><img src="/鸟窝html/images/login_bg.jpg" alt=""/></div>
		<h1><a href="#" class="logo">鸟窝</a></h1>
		<h2>让高度匹配的靠谱求职者与靠谱招聘方自动找到对方</h2>
		<div class="regBox loginBox" style="display: block" >
			<div class="">
                <img src="/鸟窝html/images/psw_step2.png" width="369" height="56" alt="找回密码第一步"><br/><br/>
                <p class="psw_stepP">密码重置邮件已发送至你的邮箱：<span><%= @email%></span><br/>
                请在24小时内登录你的邮箱接收邮件，链接激活后可重置密码。</p><br/><br/>
                <input type="submit" id="loginMail" data-mail='<%= @email%>' value="登录邮箱查看">
            </div>
		</div>
	</div>
</body>
</html>
